.profile {
  padding-top: 45px;
  display: flex;
  gap: 45px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  @media screen and (max-width: 560px) {
    gap: 25px;
    padding-top: 25px;
  }
}
